.ecovium-design-by {
  background-color: #ffffff;
  width: 100%;
  min-width: 1728px;
  min-height: 4492px;
  position: relative;
}

.ecovium-design-by .ls-build-smarter {
  position: absolute;
  top: 64px;
  left: 0;
  width: 1728px;
  height: 564px;
  z-index: 1;
}

.ecovium-design-by .rectangle {
  position: absolute;
  top: 628px;
  left: 0;
  width: 1728px;
  height: 1px;
}

.ecovium-design-by .simple-chain-all-in {
  position: absolute;
  top: 210px;
  left: 231px;
  width: 841px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  z-index: 10;
}

.ecovium-design-by .ecovium-s-integrated {
  position: absolute;
  top: 718px;
  left: 232px;
  width: 1270px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0.20px;
  line-height: normal;
}

.ecovium-design-by .text-wrapper {
  position: absolute;
  top: 1031px;
  left: 234px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .div {
  position: absolute;
  top: 1791px;
  left: 0;
  width: 1728px;
  height: 758px;
  background-color: #122f4e;
}

.ecovium-design-by .rectangle-2 {
  position: absolute;
  top: 3936px;
  left: 0;
  width: 1728px;
  height: 556px;
  background-color: #122f4e;
}

.ecovium-design-by .text-wrapper-2 {
  position: absolute;
  top: 1874px;
  left: 244px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .icon-stroke-arrows {
  position: absolute;
  top: 1566px;
  left: 1243px;
  width: 20px;
  height: 20px;
}

.ecovium-design-by .img {
  position: absolute;
  top: 896px;
  left: 399px;
  width: 20px;
  height: 20px;
}

.ecovium-design-by .group {
  position: absolute;
  top: 1989px;
  left: 882px;
  width: 304px;
  height: 420px;
}

.ecovium-design-by .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 184px;
  object-fit: cover;
}

.ecovium-design-by .rectangle-3 {
  position: absolute;
  top: 184px;
  left: 0;
  width: 300px;
  height: 236px;
  background-color: #ffffff;
  border-radius: 0px 0px 8px 8px;
}

.ecovium-design-by .text-wrapper-3 {
  position: absolute;
  top: 200px;
  left: 15px;
  width: 100px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .ensuring-the {
  position: absolute;
  top: 240px;
  left: 15px;
  width: 255px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .vector-wrapper {
  position: absolute;
  top: 363px;
  left: 23px;
  width: 42px;
  height: 40px;
  border-radius: 2px;
  overflow: hidden;
}

.ecovium-design-by .vector {
  position: absolute;
  width: 91.50%;
  height: 75.17%;
  top: 12.42%;
  left: 4.17%;
}

.ecovium-design-by .group-2 {
  position: absolute;
  top: 1989px;
  left: 563px;
  width: 304px;
  height: 420px;
}

.ecovium-design-by .rectangle-4 {
  position: absolute;
  top: 184px;
  left: 0;
  width: 299px;
  height: 236px;
  background-color: #ffffff;
  border-radius: 0px 0px 8px 8px;
}

.ecovium-design-by .text-wrapper-4 {
  position: absolute;
  top: 200px;
  left: 15px;
  width: 80px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .p {
  left: 15px;
  position: absolute;
  top: 240px;
  width: 254px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .group-3 {
  position: absolute;
  top: 1989px;
  left: 244px;
  width: 304px;
  height: 420px;
}

.ecovium-design-by .text-wrapper-5 {
  position: absolute;
  top: 200px;
  left: 16px;
  width: 38px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .ensuring-the-2 {
  left: 16px;
  position: absolute;
  top: 240px;
  width: 254px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .img-wrapper {
  position: absolute;
  top: 363px;
  left: 18px;
  width: 42px;
  height: 40px;
  border-radius: 2px;
  overflow: hidden;
}

.ecovium-design-by .group-4 {
  position: absolute;
  top: 1989px;
  left: 1201px;
  width: 304px;
  height: 420px;
}

.ecovium-design-by .text-wrapper-6 {
  position: absolute;
  top: 200px;
  left: 15px;
  width: 62px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-7 {
  position: absolute;
  top: 1153px;
  left: 700px;
  width: 105px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #35353599;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ecovium-design-by .text-wrapper-8 {
  position: absolute;
  top: 1153px;
  left: 500px;
  width: 94px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #35353599;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ecovium-design-by .text-wrapper-9 {
  position: absolute;
  top: 1148px;
  left: 291px;
  width: 73px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ecovium-design-by .text-wrapper-10 {
  position: absolute;
  top: 1153px;
  left: 910px;
  width: 87px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #35353599;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ecovium-design-by .text-wrapper-11 {
  position: absolute;
  top: 1307px;
  left: 1003px;
  width: 499px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .discover-our {
  position: absolute;
  top: 1388px;
  left: 1003px;
  width: 251px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #353535;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-12 {
  position: absolute;
  top: 1566px;
  left: 1003px;
  width: 240px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0066cc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-13 {
  position: absolute;
  top: 896px;
  left: 233px;
  width: 169px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #0066cc;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-14 {
  position: absolute;
  top: 1153px;
  left: 1127px;
  width: 103px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #35353599;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.ecovium-design-by .text-wrapper-15 {
  position: absolute;
  top: 1153px;
  left: 1336px;
  width: 184px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #35353599;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: normal;
  white-space: nowrap;
}

.ecovium-design-by .image-2 {
  position: absolute;
  top: 1143px;
  left: 233px;
  width: 45px;
  height: 48px;
  object-fit: cover;
}

.ecovium-design-by .image-3 {
  position: absolute;
  top: 1142px;
  left: 442px;
  width: 41px;
  height: 48px;
  object-fit: cover;
}

.ecovium-design-by .image-4 {
  position: absolute;
  top: 1143px;
  left: 645px;
  width: 45px;
  height: 48px;
  object-fit: cover;
}

.ecovium-design-by .image-5 {
  position: absolute;
  top: 1140px;
  left: 855px;
  width: 45px;
  height: 48px;
  object-fit: cover;
}

.ecovium-design-by .image-6 {
  position: absolute;
  top: 1144px;
  left: 1063px;
  width: 57px;
  height: 48px;
  object-fit: cover;
}

.ecovium-design-by .image-7 {
  position: absolute;
  top: 1137px;
  left: 1282px;
  width: 36px;
  height: 31px;
  object-fit: cover;
}

.ecovium-design-by .line {
  position: absolute;
  top: 1185px;
  left: 441px;
  width: 208px;
  height: 2px;
}

.ecovium-design-by .line-2 {
  position: absolute;
  top: 1185px;
  left: 651px;
  width: 208px;
  height: 2px;
}

.ecovium-design-by .line-3 {
  position: absolute;
  top: 1185px;
  left: 861px;
  width: 208px;
  height: 2px;
}

.ecovium-design-by .line-4 {
  position: absolute;
  top: 1185px;
  left: 1071px;
  width: 208px;
  height: 2px;
}

.ecovium-design-by .line-5 {
  position: absolute;
  top: 1185px;
  left: 1281px;
  width: 222px;
  height: 2px;
}

.ecovium-design-by .line-6 {
  position: absolute;
  top: 1185px;
  left: 236px;
  width: 203px;
  height: 2px;
}

.ecovium-design-by .text-wrapper-16 {
  position: absolute;
  top: 1237px;
  left: 1003px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .image-8 {
  position: absolute;
  top: 1233px;
  left: 239px;
  width: 724px;
  height: 413px;
  object-fit: cover;
}

.ecovium-design-by .text-wrapper-17 {
  position: absolute;
  top: 4112px;
  left: 591px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-18 {
  top: 4112px;
  left: 916px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-19 {
  position: absolute;
  top: 4190px;
  left: 591px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-20 {
  position: absolute;
  top: 4190px;
  left: 916px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-21 {
  position: absolute;
  top: 4337px;
  left: 972px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-22 {
  position: absolute;
  top: 4345px;
  left: 591px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-23 {
  position: absolute;
  top: 4229px;
  left: 591px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-24 {
  position: absolute;
  top: 4267px;
  left: 591px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-25 {
  position: absolute;
  top: 4151px;
  left: 591px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-26 {
  position: absolute;
  top: 4151px;
  left: 916px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-27 {
  position: absolute;
  top: 4306px;
  left: 591px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .line-7 {
  position: absolute;
  top: 4142px;
  left: 583px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.ecovium-design-by .line-8 {
  position: absolute;
  top: 4142px;
  left: 908px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.ecovium-design-by .line-9 {
  position: absolute;
  top: 4297px;
  left: 583px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.ecovium-design-by .line-10 {
  position: absolute;
  top: 4220px;
  left: 583px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.ecovium-design-by .line-11 {
  position: absolute;
  top: 4181px;
  left: 583px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.ecovium-design-by .line-12 {
  position: absolute;
  top: 4181px;
  left: 908px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.ecovium-design-by .line-13 {
  position: absolute;
  top: 4336px;
  left: 583px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.ecovium-design-by .line-14 {
  position: absolute;
  top: 4259px;
  left: 583px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.ecovium-design-by .icon-stroke-arrows-2 {
  top: 4113px;
  left: 804px;
  position: absolute;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .icon-stroke-arrows-3 {
  top: 4113px;
  left: 1129px;
  position: absolute;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .icon-stroke-arrows-4 {
  top: 4229px;
  left: 804px;
  position: absolute;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .icon-stroke-arrows-5 {
  position: absolute;
  top: 4345px;
  left: 804px;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .icon-stroke-arrows-6 {
  top: 4151px;
  left: 804px;
  position: absolute;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .icon-stroke-arrows-7 {
  top: 4151px;
  left: 1129px;
  position: absolute;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .icon-stroke-arrows-8 {
  top: 4306px;
  left: 804px;
  position: absolute;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .icon-stroke-arrows-9 {
  top: 4267px;
  left: 804px;
  position: absolute;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .icon-stroke-arrows-10 {
  top: 4190px;
  left: 804px;
  position: absolute;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .icon-stroke-arrows-11 {
  top: 4190px;
  left: 1129px;
  position: absolute;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .icon-stroke-arrows-12 {
  top: 4335px;
  left: 1118px;
  position: absolute;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .text-wrapper-28 {
  position: absolute;
  top: 4052px;
  left: 583px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-29 {
  top: 4052px;
  left: 908px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 26px;
  position: absolute;
  color: #ffffff;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-30 {
  position: absolute;
  top: 4265px;
  left: 908px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .ecovium-logo-r-blue {
  position: absolute;
  top: 4032px;
  left: 233px;
  width: 242px;
  height: 71px;
}

.ecovium-design-by .brand-icon {
  position: absolute;
  top: 4258px;
  left: 261px;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .twitter {
  position: absolute;
  width: 66.54%;
  height: 54.04%;
  top: 23.05%;
  left: 16.67%;
}

.ecovium-design-by .xing-wrapper {
  left: 365px;
  position: absolute;
  top: 4258px;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .xing {
  position: absolute;
  width: 50.00%;
  height: 58.46%;
  top: 20.83%;
  left: 24.94%;
}

.ecovium-design-by .facebook-f-wrapper {
  left: 313px;
  position: absolute;
  top: 4258px;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .facebook-f {
  position: absolute;
  width: 35.81%;
  height: 66.67%;
  top: 16.67%;
  left: 32.03%;
}

.ecovium-design-by .linkedin-in-wrapper {
  left: 418px;
  position: absolute;
  top: 4258px;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .linkedin-in {
  position: absolute;
  width: 58.33%;
  height: 58.20%;
  top: 16.80%;
  left: 20.83%;
}

.ecovium-design-by .instagram-wrapper {
  left: 471px;
  position: absolute;
  top: 4258px;
  width: 24px;
  height: 24px;
}

.ecovium-design-by .instagram {
  position: absolute;
  width: 58.33%;
  height: 58.33%;
  top: 20.90%;
  left: 20.77%;
}

.ecovium-design-by .ellipse {
  left: 252px;
  position: absolute;
  top: 4249px;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  border: 1px solid;
  border-color: #ffffff;
}

.ecovium-design-by .ellipse-2 {
  left: 304px;
  position: absolute;
  top: 4249px;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  border: 1px solid;
  border-color: #ffffff;
}

.ecovium-design-by .ellipse-3 {
  left: 356px;
  position: absolute;
  top: 4249px;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  border: 1px solid;
  border-color: #ffffff;
}

.ecovium-design-by .ellipse-4 {
  left: 409px;
  position: absolute;
  top: 4249px;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  border: 1px solid;
  border-color: #ffffff;
}

.ecovium-design-by .ellipse-5 {
  left: 461px;
  position: absolute;
  top: 4249px;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  border: 1px solid;
  border-color: #ffffff;
}

.ecovium-design-by .element-ecovium-legal {
  position: absolute;
  top: 4317px;
  left: 252px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.ecovium-design-by .span {
  text-decoration: underline;
}

.ecovium-design-by .text-wrapper-31 {
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.ecovium-design-by .rectangle-5 {
  position: absolute;
  top: 4052px;
  left: 1232px;
  width: 225px;
  height: 317px;
  background-color: #aadaf0;
  border-radius: 2px;
}

.ecovium-design-by .rectangle-wrapper {
  position: absolute;
  top: 3398px;
  left: 0;
  width: 1728px;
  height: 538px;
  display: flex;
}

.ecovium-design-by .rectangle-6 {
  width: 1728px;
  height: 538px;
  background-color: #f2f6f9;
  transform: rotate(180deg);
}

.ecovium-design-by .rectangle-7 {
  position: absolute;
  top: 4318px;
  left: 1243px;
  width: 201px;
  height: 40px;
  background-color: #00a3fd;
  border-radius: 2px;
}

.ecovium-design-by .text-wrapper-32 {
  position: absolute;
  top: 4329px;
  left: 1272px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-33 {
  position: absolute;
  top: 2655px;
  left: 234px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .group-5 {
  position: absolute;
  top: 2775px;
  left: 244px;
  width: 619px;
  height: 236px;
}

.ecovium-design-by .rectangle-8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 615px;
  height: 236px;
  background-color: #f2f6f9;
  border-radius: 8px;
}

.ecovium-design-by .text-wrapper-34 {
  position: absolute;
  top: 32px;
  left: 24px;
  width: 204px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-35 {
  position: absolute;
  top: 66px;
  left: 24px;
  width: 565px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .icon-stroke-arrows-13 {
  position: absolute;
  top: 179px;
  left: 24px;
  width: 39px;
  height: 40px;
  border-radius: 2px;
  overflow: hidden;
}

.ecovium-design-by .group-6 {
  position: absolute;
  top: 3039px;
  left: 244px;
  width: 619px;
  height: 236px;
}

.ecovium-design-by .group-7 {
  position: absolute;
  top: 2775px;
  left: 886px;
  width: 619px;
  height: 236px;
}

.ecovium-design-by .text-wrapper-36 {
  position: absolute;
  top: 32px;
  left: 24px;
  width: 262px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .group-8 {
  position: absolute;
  top: 3039px;
  left: 886px;
  width: 619px;
  height: 236px;
}

.ecovium-design-by .text-wrapper-37 {
  position: absolute;
  top: 32px;
  left: 24px;
  width: 213px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .text-wrapper-38 {
  position: absolute;
  top: 3642px;
  left: 244px;
  width: 633px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .element-info {
  position: absolute;
  top: 4113px;
  left: 253px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .country-flag-DE-wrapper {
  position: absolute;
  top: 4335px;
  left: 922px;
  width: 36px;
  height: 24px;
  display: flex;
}

.ecovium-design-by .country-flag-DE {
  margin-top: -2px;
  width: 42px;
  height: 30px;
  margin-left: -3px;
}

.ecovium-design-by .rectangle-9 {
  position: absolute;
  top: 4327px;
  left: 908px;
  width: 244px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #ffffff33;
}

.ecovium-design-by .text-wrapper-39 {
  position: absolute;
  top: 3535px;
  left: 244px;
  width: 588px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0.20px;
  line-height: normal;
}

.ecovium-design-by .vector-2 {
  position: absolute;
  top: calc(50.00% + 1301px);
  left: calc(50.00% + 117px);
  width: 491px;
  height: 234px;
}

.ecovium-design-by .text-wrapper-40 {
  position: absolute;
  top: 3778px;
  left: 245px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .rectangle-10 {
  position: absolute;
  top: 4066px;
  left: 1244px;
  width: 200px;
  height: 240px;
  background-color: #ffffff;
  border-radius: 2px;
}

.ecovium-design-by .ecovium-logo-r-blue-2 {
  position: absolute;
  top: 4076px;
  left: 1386px;
  width: 48px;
  height: 14px;
}

.ecovium-design-by .ls-build-smarter-2 {
  position: absolute;
  top: 4099px;
  left: 1255px;
  width: 179px;
  height: 193px;
  mix-blend-mode: multiply;
  object-fit: cover;
}

.ecovium-design-by .rectangle-11 {
  position: absolute;
  top: 64px;
  left: 0;
  width: 1728px;
  height: 564px;
  mix-blend-mode: screen;
}

.ecovium-design-by .build-a-more {
  position: absolute;
  top: 350px;
  left: 231px;
  width: 604px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .rectangle-12 {
  position: absolute;
  top: 432px;
  left: 232px;
  width: 206px;
  height: 40px;
  background-color: #0066cc;
  border-radius: 101px;
}

.ecovium-design-by .icon-stroke-arrows-14 {
  position: absolute;
  top: 442px;
  left: 567px;
  width: 20px;
  height: 20px;
}

.ecovium-design-by .div-wrapper {
  position: absolute;
  top: 439px;
  right: 1324px;
  width: 126px;
  height: 24px;
  display: flex;
  justify-content: flex-end;
}

.ecovium-design-by .text-wrapper-41 {
  width: 124px;
  height: 24px;
  margin-right: 2px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.ecovium-design-by .text-wrapper-42 {
  position: absolute;
  top: 438px;
  right: 1132px;
  width: 124px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.ecovium-design-by .rectangle-13 {
  position: absolute;
  top: 1137px;
  left: 1679px;
  width: 49px;
  height: 51px;
  background-color: #0164c7;
  border-radius: 8px 0px 0px 8px;
}

.ecovium-design-by .chat-comment-alt {
  position: absolute;
  top: 1147px;
  left: 1689px;
  width: 32px;
  height: 32px;
}

.ecovium-design-by .rectangle-14 {
  position: absolute;
  top: 1136px;
  left: 855px;
  width: 180px;
  height: 50px;
  background-color: #d9d9d901;
}

.ecovium-design-by .image-9 {
  position: absolute;
  top: 3398px;
  left: 908px;
  width: 593px;
  height: 538px;
}

.ecovium-design-by .group-9 {
  position: fixed;
  width: 1728px;
  height: 70px;
  top: 0;
  left: 0;
}

.ecovium-design-by .group-10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 70px;
}

.ecovium-design-by .rectangle-15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 64px;
}

.ecovium-design-by .ecovium-logo-r-blue-3 {
  position: absolute;
  top: 10px;
  left: 221px;
  width: 136px;
  height: 40px;
}

.ecovium-design-by .header-bottom {
  position: absolute;
  top: 64px;
  left: 0;
  width: 1728px;
  height: 6px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.ecovium-design-by .rectangle-16 {
  position: absolute;
  top: 11px;
  right: 226px;
  width: 148px;
  height: 40px;
  background-color: #0066ccf5;
  border-radius: 50px;
  border: 1px solid;
  border-color: #0066cc;
}

.ecovium-design-by .group-11 {
  position: absolute;
  top: 18px;
  right: 240px;
  width: 111px;
  height: 24px;
  display: flex;
  justify-content: flex-end;
}

.ecovium-design-by .text-wrapper-43 {
  width: 109.46px;
  height: 24px;
  margin-right: 2px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 25.6px;
  white-space: nowrap;
}

.ecovium-design-by .group-12 {
  position: absolute;
  top: 20px;
  right: 388px;
  width: 51px;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 9px;
}

.ecovium-design-by .vector-3 {
  margin-top: 2.0px;
  width: 16px;
  height: 15.99px;
}

.ecovium-design-by .text-wrapper-44 {
  width: 24px;
  height: 20px;
  margin-right: 2px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #2d4460;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .search {
  position: absolute;
  top: 22px;
  right: 456px;
  width: 16px;
  height: 16px;
}

.ecovium-design-by .vector-4 {
  position: absolute;
  top: 0;
  right: 2px;
  width: 14px;
  height: 14px;
}

.ecovium-design-by .vector-5 {
  position: absolute;
  top: 11px;
  right: 0;
  width: 5px;
  height: 5px;
}

.ecovium-design-by .navbar {
  position: absolute;
  top: 19px;
  left: 407px;
  width: 499px;
  height: 25px;
  display: flex;
}

.ecovium-design-by .text-wrapper-45 {
  width: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #2d4460;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.20px;
  line-height: 24.8px;
  white-space: nowrap;
}

.ecovium-design-by .chevron-down {
  margin-top: 11.0px;
  width: 10.8px;
  height: 5.99px;
  margin-left: 5px;
}

.ecovium-design-by .text-wrapper-46 {
  width: 73px;
  margin-left: 42.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #2d4460;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.20px;
  line-height: 24.8px;
  white-space: nowrap;
}

.ecovium-design-by .text-wrapper-47 {
  width: 77px;
  margin-left: 46.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #2d4460;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.20px;
  line-height: 24.8px;
  white-space: nowrap;
}

.ecovium-design-by .text-wrapper-48 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 25px;
  margin-left: 42.2px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #2d4460;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.20px;
  line-height: 24.8px;
  white-space: nowrap;
}
/* Original CSS code should be injected here */

.ecovium-design-by {
  background-color: #ffffff;
  width: 100%;
  min-width: 1728px;
  min-height: 4492px;
  position: relative;
}

.ecovium-design-by .ls-build-smarter {
  position: absolute;
  top: 64px;
  left: 0;
  width: 1728px;
  height: 564px;
  z-index: 1;
}

.ecovium-design-by .rectangle {
  position: absolute;
  top: 628px;
  left: 0;
  width: 1728px;
  height: 1px;
}

.ecovium-design-by .simple-chain-all-in {
  position: absolute;
  top: 210px;
  left: 231px;
  width: 841px;
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  z-index: 10;
}

.ecovium-design-by .ecovium-s-integrated {
  position: absolute;
  top: 718px;
  left: 232px;
  width: 1270px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0.20px;
  line-height: normal;
}

.ecovium-design-by .text-wrapper {
  position: absolute;
  top: 1031px;
  left: 234px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .div {
  position: absolute;
  top: 1791px;
  left: 0;
  width: 1728px;
  height: 758px;
  background-color: #122f4e;
}

.ecovium-design-by .rectangle-2 {
  position: absolute;
  top: 3936px;
  left: 0;
  width: 1728px;
  height: 556px;
  background-color: #122f4e;
}

.ecovium-design-by .text-wrapper-2 {
  position: absolute;
  top: 1874px;
  left: 244px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .icon-stroke-arrows {
  position: absolute;
  top: 1566px;
  left: 1243px;
  width: 20px;
  height: 20px;
}

.ecovium-design-by .img {
  position: absolute;
  top: 896px;
  left: 399px;
  width: 20px;
  height: 20px;
}

.ecovium-design-by .group {
  position: absolute;
  top: 1989px;
  left: 882px;
  width: 304px;
  height: 420px;
}

.ecovium-design-by .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 184px;
  object-fit: cover;
}

.ecovium-design-by .rectangle-3 {
  position: absolute;
  top: 184px;
  left: 0;
  width: 300px;
  height: 236px;
  background-color: #ffffff;
  border-radius: 0px 0px 8px 8px;
}

.ecovium-design-by .text-wrapper-3 {
  position: absolute;
  top: 200px;
  left: 15px;
  width: 100px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .ensuring-the {
  position: absolute;
  top: 240px;
  left: 15px;
  width: 255px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .vector-wrapper {
  position: absolute;
  top: 363px;
  left: 23px;
  width: 42px;
  height: 40px;
  border-radius: 2px;
  overflow: hidden;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

.ecovium-design-by .vector {
  position: absolute;
  width: 91.50%;
  height: 75.17%;
  top: 12.42%;
  left: 4.17%;
}

.ecovium-design-by .group-2 {
  position: absolute;
  top: 1989px;
  left: 563px;
  width: 304px;
  height: 420px;
}

.ecovium-design-by .rectangle-4 {
  position: absolute;
  top: 184px;
  left: 0;
  width: 299px;
  height: 236px;
  background-color: #ffffff;
  border-radius: 0px 0px 8px 8px;
}

.ecovium-design-by .text-wrapper-4 {
  position: absolute;
  top: 200px;
  left: 15px;
  width: 80px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .p {
  left: 15px;
  position: absolute;
  top: 240px;
  width: 254px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .group-3 {
  position: absolute;
  top: 1989px;
  left: 244px;
  width: 304px;
  height: 420px;
}

.ecovium-design-by .text-wrapper-5 {
  position: absolute;
  top: 200px;
  left: 16px;
  width: 38px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .ensuring-the-2 {
  left: 16px;
  position: absolute;
  top: 240px;
  width: 254px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.ecovium-design-by .img-wrapper {
  position: absolute;
  top: 363px;
  left: 18px;
  width: 42px;
  height: 40px;
  border-radius: 2px;
  overflow: hidden;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  display: block;
}

